input.txt
output.txt
sort
count
count+
sortland
swap
merger
inversion
k
antiquick
qicksort
pugalo
sort
gen
gen.c
ssort
stack
bracket
search
enq
postfix
pile
queue
binary
ssortD
Makefile
tree
gir
avl
hesh
